.user-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-box__avatar {
  border-radius: 50%;
}

.user-box__name {
  font-weight: 500;

  color: var(--black-text-color);
}

.user-box__role {
  font-size: 12px;

  color: #757575;
}
